{% extends "base.html" %}
{% block main %}
    <div class="container" name="main">
        <div class="col-md-3" name="left">
            <div class="bs-callout bs-callout-info" style="padding: 10px 10px;"><h4>全部内容</h4></div>
            <div class="list-group">
                {% for article in articles %}
                <a href="{{ article.get_absolute_url }}" class="list-group-item">{{ article.title }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9" name="right">
            <h1>{{ course.name }}</h1>
            <p>{{ course.intro }}</p>
        </div>
    </div>
{% endblock %}