{% extends "base.html" %}
{% block title %}栏目：{{ colunm.name }}{% endblock %}
{% block keywards %}{{ colunm.keywords }}{% endblock %}
{% block description %}{{ column.abstract }}{% endblock %}
{% block main %}
    <div class="container" name="main">
        <div class="col-md-3" name="left">
            <div class="bs-callout bs-callout-info" style="padding: 10px 10px;"><h4><a href="/">全部教程</a></h4></div>
            <div class="list-group">
                {% for column in columns %}
                <a href="{{ column.get_absolute_url }}" class="list-group-item">{{ column.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9" name="right">
            <div class="bs-callout bs-callout-danger" style="padding: 10px 10px;"><h4>{{ column.name }}</h4></div>
            <div class="row">
            {% for course in cur_courses %}
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></h4>
                                <p>{{ course.intro }}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}