<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="all" />
    <meta name="author" content="qaschool.cn" />
    <meta name="Keywords" Content="{% block keywords %}{% endblock %}">
    <meta name="Description" Content="{% block descprition %}{% endblock %}">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-material-design.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/github.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/code_win.css' %}">
    <title>{% block title %}{% endblock %}-QA学院</title>
</head>
<body>
<div class="navbar navbar-default" name="header">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">QA school</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">首页<span class="sr-only">(current)</span></a></li>

        {% for column in columns %}
            {% if column.show_in_nav %}
        <li class="dropdown">
          <a href="{{ column.get_absolute_url }}" class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ column.name }}</a>
          <ul class="dropdown-menu">
            {% for course in courses %}
                {% if course.column == column %}
                    <li><a href="{{ course.get_absolute_url }}">{{course.name}}</a></li>
                {% endif %}
            {% endfor %}
{#            <li><a href="#">Another action</a></li>#}
{#            <li><a href="#">Something else here</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li><a href="#">Separated link</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li><a href="#">One more separated link</a></li>#}
          </ul>
        </li>
            {% endif %}
        {% endfor %}
      </ul>
{#      <form class="navbar-form navbar-left">#}
{#        <div class="form-group">#}
{#          <input type="text" class="form-control" placeholder="Search">#}
{#        </div>#}
{#        <button type="submit" class="btn btn-default">搜索</button>#}
{#      </form>#}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin/">登录</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>

{% block main %}
{% endblock %}
<div class="container" name="footer"> </div>


</body>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-material-design.js' %}"></script>
<script src="{% static 'js/bootstrap-hover-dropdown.min.js' %}"></script>
</html>