.card-body img{
    max-width: 100%;
}


.card-body pre{
    padding: 15px;
    border: 1px solid #eee;
}

.card-body p{
    line-height: 1.8;
}

.card-body br{
    line-height: 1.6;
}

.list-group {
    font-weight: 400;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
