

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}


body{
    padding-top: 4rem;
    line-height: 1.65;
}

.container{
    padding-right: 5px;
    padding-left: 5px;
}

.border-top {
    /*border-top: 2px solid #00a8c6;*/
    border-top: 2px solid #428bca;
}

.module-title {
    border-left: 5px solid #00a8c6;
    background-color: #eee;
    padding: 10px;
}

.border-left-1{
    border-left: 1px solid #eee;
}

.border-left-2{

    border-left: 2px solid #428bca;
}

.border-right-1{
    border-right: 1px solid #eee;
}

.toc{
    border-left: 1px solid #eee;
}

.toc ul {
    list-style-type: none;
}
.toc li a{
    text-decoration: none;
}

.sticky{
    position: sticky;
    /*z-index: 1000;*/
    top: 6rem;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-left: 10px;
    padding-right: 10px;
}

.breadcrumb {
  padding: 2rem 0 0 0;
  margin-bottom: 15px;
  background-color: #ffffff;
}

.navbar-default {
    border-bottom: 0;
}
.jumbotron {
    margin-bottom: 15px;
    background-color: #f8f8f8;

}

.course-header{
    background-color: #f8f8f8;
    border-top: 2px solid #eee;
}

.course-header:hover{
    border-top: 2px solid #428bca;
}

.line{
    margin-top: 5px;
    margin-bottom: 5px;
}

.page-footer{
    padding-bottom: 40px;
}

.border-default{
    border: 1px solid #eee;
}

.link-none{
    text-decoration: none;
}

.link-none:hover{
    text-decoration: none;
}


p img {
  display: block;
  height: auto;
  max-width: 100%;
}

.comments {
    padding-top: 25px;
    padding-bottom: 25px;
}

.box-1 {
    padding: 30px 30px;
}

.footer {
    background-color: #f8f8f8;
}

.box-center {
    margin: 48px auto;

}