{% extends "base.html" %}
{% block title %}{{ chapter.title }}{% endblock %}
{% block keywards %}{{ chapter.keywords }}{% endblock %}
{% block description %}{{ chapter.abst }}{% endblock %}
{% block main %}
    <div class="container" name="main">
    <div class="page-header" id="banner"><div class="row col-md-12">
        <h1>{{ course.name }} <small class="text-muted">{{ course.author.username }}</small></h1></div>
        <p class="lead">{{ course.intro | default_if_none:"&nbsp;" }}</p>
    </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6" name="left">
                <div class="card bg-primary border-secondary">
                    <h5 class="card-header"><a class="text-white card-link" href="/">全部教程</a></h5>
                    <ul class="list-group list-group-flush">
                        {% for chapter in chapters %}
                        <a class="list-group-item list-group-item-action" href="{{ chapter.get_absolute_url }}" class="list-group-item">
                            {{ chapter.title }}
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-6" name="right">
                <div class="card">
                    <div class="card-body">
                    <a href="#" data-toggle="modal" data-target="#shareDalog"><span class="fa fa-share-alt-square fa-2x" style="float: right"></span></a>
                    <!-- Modal -->
                    <div class="modal fade" id="shareDalog" tabindex="-1" role="dialog" aria-labelledby="shareDalogLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">邮件分享</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                            <form>
                          <div class="modal-body">
                              <fieldset>
{#                                  <div class="form-group">#}
{#                                  <label for="exampleInputEmail1">姓名</label>#}
{#                                  <input type="email" class="form-control" id="user_name" placeholder="Enter name">#}
{#                                </div>#}
                                <div class="form-group">
                                  <label for="exampleInputEmail1">邮件地址</label>
                                  <input type="email" class="form-control" id="user_email"  placeholder="Enter email">
                                </div>
                                  <div class="form-group">
                                      <label for="exampleTextarea">我的笔记</label>
                                      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                                    </div>
                              </fieldset>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary">发送邮件</button>
                          </div></form>
                        </div>
                      </div>
                    </div>
                     <h1>{{ chapter.title }}</h1>
                     <p class="lead">阅读量： {{ chapter.views }}</p>
                    <hr>
                    {{ chapter.content|safe }}
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">上一篇</a>
                        <a href="#" class="card-link pull-right">下一篇</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}