{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block keywards %}测试教程, 性能测试, 自动化测试, 测试管理{% endblock %}
{% block description %}QA学院,系统的软件测试文本教程，包含性能测试,自动化测试,测试管理等{% endblock %}
{% block main %}
    <br><br><br><br>
{#    <div class="jumbotron"><div class="container">#}
{#      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>#}
{#      <hr class="my-4">#}
{#      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>#}
{#      <p class="lead">#}
{#        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>#}
{#      </p>#}
{#    </div></div>#}
    <div class="container" name="main">
        <div class="row">
            <div class="col-md-3" name="left">
                <div class="card bg-primary border-secondary">
                    <h5 class="card-header"><a class="text-white card-link" href="/">全部教程</a></h5>
                    <ul class="list-group list-group-flush">
                        {% for column in columns %}
                        <a class="list-group-item list-group-item-action" href="{{ column.get_absolute_url }}" class="list-group-item">{{ column.name }}</a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-9" name="right">
                {% for column in columns %}
                    <div class="list-group" ><a href="#" class="list-group-item list-group-item-action border-top-0 border-right-0 border-left-0" style="padding: 10px 2px;">
                        <span class="fa fa-list text-warning"></span>&nbsp;
                        <strong>{{ column.name }}</strong>
                    </a></div>
                    <div class="row" style="padding: 10px 0;">
                    {% for course in courses %}
                        {% if course.column == column %}
                            <div class="col-md-3">
                                <div class="list-group">
                                  <a href="{{ course.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start active">
                                      <div class="row">
                                          <img src="{{ course.pic.url }}" width="40px" height="40px">
                                          <div style="padding-left: 10px;">
                                              <div class="d-flex w-100 justify-content-between"><h6 class="mb-1">{{ course.name }}</h6></div>
                                                <p class="mb-1">{{ course.author.username }}</p>
                                          </div>
                                      </div>
                                  </a>
                                  <a href="{{ course.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                    </div>
                                    <p class="mb-1">{{ course.intro }}</p>
                                  </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}